@import url("https://wang9685.github.io/");

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body
{
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container 
{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  background: #fff;
   display: grid;
}
.container .left_Side
{
  position: relative;
  padding: 40px;
  background: #003147;
}
.container .right_Side
{
  position: relative;
  padding: 40px;
  background: #fff;
}
