@import url("https://wang9685.github.io/");
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
    height: 100%;
}
/* body & background */
body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('image/bg.JPG');
    background-size: auto;
    background-attachment: fixed;
}

/* Wapper */
.wapper 
{
    position: relative;
    width: 100%;
    max-width: 1100px;
    background: rgb(233, 236, 243);
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    margin-right: auto;
    margin-left: auto;
}


/*banner*/
.topnav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav .resume{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 40px 40px;
    background-color: #f6f1f1;
    color: rgb(196, 18, 48);
    border-style: solid;
    border-color: #333;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .resume:hover {
    background-color: rgb(196, 18, 48);
    color: rgb(237, 232, 232);
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ddd;
    color: black;
}
.topnav .resume.active {
    background-color: #ddd;
    color: rgb(196, 18, 48);
}

/* Profile */
.profile
{
    position: relative;
    width: 100%;
    background: rgb(5, 72, 116);
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    
    
}

.profile .imgBx
{
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 30px;
}
.profile .imgBx img
{
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -30px;
    

}



.profile .text h1
{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
}


.profile .text h2
{
    color: white;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    text-align: left;
    font-weight: 600;
    line-height: 1.4em;
    margin-right: 10px;
}
.profile .text h2 span
{
    font-size: 0.6em;
    font-weight: 300;
}



/* Timeline */
.timeline {
    margin: 20px auto auto;
    max-width: 1050px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    background-color: rgb(237,237,237);
    border-radius: 40px 40px;
    overflow: hidden;
}

.timeline_title {
    text-align: center; 
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 20px;
    font-size: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.timeline__component {
    margin: 0 20px 20px 20px;
}

.timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline__list_first_item {
    font-size: 15px;
    line-height: 1.5;
    margin: auto;
}

.timeline__list_second_item {
    font-size: 13px;
    line-height: 2;
    margin-left: 30px;
}
/* LEAVE TILL LAST */
.timeline__component--bottom {
    margin-bottom: 0;
}

.timeline__middle {
    position: relative;
    background: #052776;
}

.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #052776;
    border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
    top: initial;
    bottom: 0;
}

.timeline__date--right {
    text-align: right;
}

.timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline__paragraph {
    line-height: 1.5;
    margin-top: 0.3em;
}

/* Projects */
.cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto auto;
    max-width: 1050px;
    padding: 25px;
    display: grid;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    background-color: rgb(237,237,237);
    border-radius: 40px 40px;
    overflow: hidden;

}

.cards_title {
    text-align: center; 
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 5px;
    font-size: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.flip-card {
    background-color: transparent;
    width: auto;
    height: 450px;
    perspective: 1000px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}





.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.flip-card-front {
    /* Carnegie Red!! */
    background-color: rgb(196, 18, 48);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
}


.flip-card-back {
    background-color: rgba(224, 224, 224);
    color: black;
    transform: rotateY(180deg);
    font-size: 19px;
}

/* text for card's back */
.flip-card-back-content{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 10px;
    text-align: left;
    line-height: 1.5em;
    
}
.flip-card-back-skill{
    margin-left: 30px;
}

.flip-card-font-title {
    color: white;
    font-size: 33px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.flip-card-font-content {
    color: white;
    font-size: 20px;
    line-height: 1.5em;
}


/* SKILLS */

.Set_list {
    grid-template-columns: repeat(1, 1fr);
    margin: 20px auto auto;
    max-width: 1050px;
    padding: 25px;
    display: grid;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    background-color: rgb(237,237,237);
    border-radius: 40px 40px;
    overflow: hidden;
    
}

.list_title {
    text-align: center; 
    margin-bottom: 5px;
    font-size: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.content_title {
    background-color: #064a53;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}

/* Collapsible */
/* .collapsible {
    background-color: #064a53;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    
} */

/* .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}
   */
.content {
    padding: 0 18px;
    overflow: hidden;
    /* transition: max-height 0.2s ease-out; */
    background-color: #eaeff3;
    border: solid 1px;
    border-color: #eaeff3;
    align-items: center;
    
}
.content p{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

/* contact me */
.Contact {
    grid-template-columns: 1fr 1fr;
    margin: 20px auto auto;
    max-width: 1050px;
    padding: 25px;
    display: grid;
    font-family: "Fira Sans", sans-serif;
    color: #000000;
    background-color: rgb(237,237,237);
    overflow: hidden;
}

.contact_title {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center; 
    margin-bottom: 20px;
    font-size: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.icons .fa{
	padding:15px;
	padding-bottom: 15px;
	padding-top:10px;
    background-color:#ddd;
    text-align: center;
    margin-left:50%;

}
.icons .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 20%;
    font-size: 25px;
    margin-left: 80%;
    

}

.icons .fa-envelope {
    background: red;
    color: rgb(240, 232, 232);
    border-radius: 20%;
    font-size: 30px;
    margin-left: 10%;
}

footer {
    text-align: center;
    padding: 10px;
    color: white;
  }
  
